---
name: Check

# yamllint disable-line rule:truthy
on:
  pull_request:
  push:

jobs:
  actionlint:
    name: actionlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: reviewdog/action-actionlint@v1
      - name: Add Problem Matcher for actionlint
        run: |
          echo "::add-matcher::.github/actionlint-matcher.json"
        shell: bash
  pre-commit:
    name: Pre-commit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit|${{ hashFiles('.pre-commit-config.yaml') }}
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
