---
# Note: Keep keys and envs in alphabetical order.
name: Check
# yamllint disable-line rule:truthy
on:
  pull_request:
  push:
  schedule:
    - cron: 0 0 * * 1  # Run every Monday at 00:00 UTC
  workflow_call:
jobs:
  check:
    # See: https://docs.github.com/en/actions/how-tos/reuse-automations/reuse-workflows
    uses: Cogni-AI-OU/.github/.github/workflows/check.yml@main
